<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plants</title>
  <script src="/pixi.min.js"></script>
  <script src="/pixi-sound.min.js"></script>
  <script src="/vue.min.js"></script>
  <link rel="stylesheet" href="style.css?v=3">
</head>
<body>
  <div id="app">
    <div class="header">
      <div v-if="loggedIn" class="login"><span class="logged-in-as">Logged in as: {{email}}</span> (<span v-on:click="logout()">Logout</span>)</div>
      <div v-if="!loggedIn" class="login" v-on:click="login()">Login</div>
      <div class="spacer"></div>
      <div class="stats-button" v-if="!statsVisible" v-on:click="openStats()">[Stats]</div>
      <div class="stats-button" v-if="statsVisible" v-on:click="closeStats()">[Close]</div>
    </div>
    <div class="stats" v-if="statsVisible">
      <h1>Stats</h1>
      <div v-if="focusedHighscore">
        <div v-on:click="setFocusedHighscore(undefined)">[close]</div>
        <h3>{{focusedHighscore.name}}</h3>
      </div>
      <div class="stat-row">
        <div class="stat-key">
          Planted: 
        </div>
        <div class="stat-value">
          {{getTotalPlanted}}
        </div>
      </div>
      <div class="stat-row">
        <div class="stat-key">
          Sold: 
        </div>
        <div class="stat-value">
          {{getTotalHarvested}}
        </div>
      </div>
      <div class="stat-row">
        <div class="stat-key">
          Watered: 
        </div>
        <div class="stat-value">
          {{getWaters}}
        </div>
      </div>

      <div class="highscores">
        <div v-if="!focusedHighscore">
          <h1>Highscores</h1>
          <div v-for="(data, index) in highscores" class="stat-row" v-bind:class="{active: uid === data.user}" v-on:click="setFocusedHighscore(data)">
            <div class="stat-key">
              {{index + 1}} - {{data.name}}
            </div>
            <div class="stat-value">
              ${{data.totalPoints}} - {{data.xp}} XP
            </div>
          </div>
          <div class="add-name" v-if="!loggedIn">
            Login to be added to the highscores!
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="texts">
        <div id="money">{{money}}</div>
      </div>

      <div class="button missions-button">{{getLevel()}}</div>
      <div class="missions-button-click-area" v-on:click="openMissionsMenu()"></div>
    
      <div id="select-plant-meta" v-if="plantMenuOpen" v-html="selectPlantMenuMeta"></div>
      <div id="shelf-limit-meta" v-if="shelfLimitMenuOpen" v-html="shelfLimitMenuMeta"></div>
      <div id="plant-info-meta" v-if="plantInfoMenuOpen" v-html="plantInfoMeta"></div>
      <div id="missions-meta" v-if="missionsMenuOpen">

        <h3 class="current-level">{{getLevel()}}</h3>
        <!-- <div class="level-section">
          <div class="previous-level">{{getLevel(-1)}}</div>
          <div class="next-level">{{getLevel(+1)}}</div>
        </div> -->
        <div class="progress">
          <div class="progress-inner" v-bind:style="{width: nextLevelPercent() + '%'}">
            <div class="xp-to-go">{{xpToGoForNextLevel()}} / {{totalXpNextLevel()}} XP</div>
          </div>
        </div>

        <div v-if="activeMission">
          <div class="mission">
            <div class="title">{{activeMission.title}}</div>
            <div class="description">{{activeMission.text}}</div>
            <div class="reward">
              Reward: ${{activeMission.reward.pointsText}} & {{activeMission.reward.xpText}} XP
            </div>
            <div class="mission-progress" v-html="activeMission.getProgress(activeMission.startTime)"></div>
          </div>
          <div class="button cancel-button" v-on:click="cancelMission()">
            Cancel
          </div>
        </div>
        <div v-if="!activeMission">
          <h3>Available missions</h3>
          <div class="missions">
            <div class="mission" v-for="mission in availableMissions">
              <div class="title">
                {{mission.title}}
              </div>
              <div class="description">
                {{mission.text}}
              </div>
              <div class="reward">
                Reward: ${{mission.reward.pointsText}} & {{mission.reward.xpText}} XP
              </div>
              <div class="button accept-button" v-on:click="acceptMission(mission)">
                Accept
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="canvas-container"></div>
      
      <div class="attribution">
        Plants - By David & Nathan Felix
      </div>
      
      <button id="reset-button" onclick="reset()">RESET</button>
    </div>
    <div id="loading" v-if="loading">Loading...</div>
  </div>
  
  <script type="module" src="script.js?v=4"></script>
</body>
</html>