body {
  margin: 0;
  background-color: #395248;
  font-family: pixelFont;
  padding-bottom: 40px;
}

body * {
  user-select: none;
}

canvas {
  margin: 0 auto;
  display: block;
  margin-top: 8px;
  width: 512px;
  max-width: calc(100% - 10px);
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  background-color: #395248;
}

@font-face {
  font-family: 'pixelFont';
  src: url('/assets/font.woff2') format('woff2'),
      url('/assets/font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.texts {
  position: absolute;
  top: 31px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
}

#water-level {
  font-size: 26px;
}

#select-plant-meta {
  position: absolute;
  top: 160px;
  width: 100%;
  text-align: center;
  font-size: 26px;
  pointer-events: none;
  opacity: 0;
}

#select-plant-meta.shown {
  opacity: 1; 
}

#reset-button {
  opacity: 0.1;
  margin: 20px auto 0;
  display: block;
}

@media (max-width: 522px) {
  .texts {
    top: 6.5vw;
    width: calc(50% - 10px);
  }
  #water-level {
    font-size: 5vw;
  }

  #select-plant-meta {
    top: 30vw;
    font-size: 5vw;
  }
}

.attribution {
  text-align: center;
  margin-top: 20px;
  opacity: 0.5;
}