body {
  margin: 0;
  background-color: #395248;
  font-family: pixelFont;
}

body * {
  user-select: none;
}

canvas {
  margin: 0 auto;
  display: block;
  width: 512px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

@font-face {
  font-family: 'pixelFont';
  src: url('/assets/font.woff2') format('woff2'),
      url('/assets/font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.texts {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 240px;
}

#water-level {
  font-size: 28px;
}